:root {
	--main-color: #3f51b5; /* R:63, G:82, B:181 */
	--main-dark-color: #002984;
	--main-light-color: #757de8;
}

body {
	padding-top: 70px;
	padding-bottom: 40px;
	cursor: default;
}

.navbar, .fixed-top {
	background-color: var(--main-color) !important;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	border-bottom: var(--main-dark-color) 1px solid;
}

a:not(.nav-link):not(.navbar-brand) {
	color: var(--main-color);
	/*text-decoration: underline;*/
}

a:hover:not(.nav-link):not(.navbar-brand) {
	color: var(--main-light-color) !important;
}

li.col-md-6 {
	padding-left: 0px;
}

.cover {
	text-align: center;
}

.required {
	color: red;
}

.invalid-captcha {
	box-shadow: 0 0 1.5px 1px red;
}

.fa {
	font-size: 0.85rem;
}

.full-height {
	height: 100%;
}
