{% if postsList | filterDrafts | IsNotPage(page.url) | length %}
	{% for post in postsList | filterDrafts | reverse %}
		<section class="posts-list-post">
			<h2><a href={{ post.url }}>{{ post.data.title }}</a></h2>
			<div class="postMetadata">
				<dl class="postDate">
					<dt>
						<svg class="icon">
							<use href="/images/feather-sprite.svg#clock" />
						</svg>
						Posted
					</dt>
					<dd>
						{{ post.date.toLocaleDateString("en-US") }}
					</dd>
				</dl>
				<dl class="tags">
					<dt>
						<svg class="icon">
							<use href="/images/feather-sprite.svg#tag" />
						</svg>
						Tags
					</dt>
					{% for tag in post.data.tags %}
						{% if tag != "posts" %}
							<dd><a href="{{ "/posts/tags/" + (tag | slugify) | url }}">{{ tag }}</a></dd>
						{% endif %}
					{% endfor %}
				</dl>
			</div>
			<p>{{ post.data.description }}</p>
		</section>
	{% endfor %}
{% else %}
	<p>No posts</p>
{% endif %}
