ul {
	padding-inline-start: 1.5rem;
}

li {
	margin: 0.25em 0;
}

dl {
	dt {
		font-weight: bold;
	}

	dd {
		padding: 0.25em 0;
		margin-inline-start: 1em;
	}
}

dl.tags {
	display: flex;
	flex-direction: row;
	align-items: center;

	dt {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding: 0.25em 0;

		.icon {
			font-size: 1.5em;
			padding-right: 0.3em;
		}

		&::after {
			content: ":";
		}
	}
}
