ul {
	padding-inline-start: 1.5rem;
}

li {
	margin: 0.25em 0;
}

dl {
	dt {
		font-weight: bold;
	}

	dd {
		padding: 0.25em 0;
		margin-inline-start: 1em;
	}
}

dl.tags {
	dt {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		gap: 0.25em;
		padding: 0.25em 0;
	}

	dd {
		display: inline;
	}
}
