.posts-list-post {
	margin-bottom: 2rem;
}

h2 {
	margin-bottom: 0.15em;
}

.postMetadata {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	column-gap: 2rem;

	font-size: 0.8rem;

	div {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 1em;
	}

	dt {
		display: inline-flex;
		flex-direction: row;
		align-items: center;
		padding: 0.25em 0;

		.icon {
			font-size: 1.5em;
			padding-right: 0.3em;
		}

		&::after {
			content: ":";
		}
	}

	dd {
		margin: 0;
	}
}
