body {
	padding-top: 0px;
}

#header {
	padding: 10vw 2rem;
	margin-bottom: 2rem;

	color: white;
	text-shadow: 1px 1px 2px gray;

	box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('/img/trianglify.svg');
}

#headerContent {
	padding-top: 70px; /* account for nav bar */
}

#header a {
	color: #a10022 !important;
}

#title {
	margin-bottom: 2rem;
}
