---
layout: layouts/layout.njk
---

<dl class="postMetadata">
	<div>
		<dt>
			<svg class="icon">
				<use href="/images/feather-sprite.svg#clock" />
			</svg>
			Posted
		</dt>
		<dd>
			{{ page.date.toLocaleDateString("en-US") }}
		</dd>
	</div>

	<div>
		<dt>
			<svg class="icon">
				<use href="/images/feather-sprite.svg#tag" />
			</svg>
			Tags
		</dt>
		{% for tag in tags %}
			{% if tag != "posts" %}
				<dd><a href="{{ "/posts/tags/" + (tag | slugify) | url }}">{{ tag }}</a></dd>
			{% endif %}
		{% endfor %}
	</div>
</dl>

{{ content | safe }}
