<div class="card">
	<h4 class="card-header">{{ .title }}</h4>
	<div class="card-body">
		{{ if .incomplete }}
			<p class="text-danger"><small>Incomplete</small></p>
		{{ end }}

		{{ if isset . "description" }}
			<p>{{ .description | markdownify }}</p>
		{{ end }}

		{{ if isset . "links" }}
			{{ range .links }}
				<a class="card-link" href="{{ .URL }}"
						{{ if and (isset . "external") (eq .external true) }}
						target="_blank"
						{{ end }}
						>
					{{ .title }}
				</a>
			{{ end }}
		{{ end }}
	</div>
</div>
