{{ partial "htmlhead" . }}
<link href="/css/index.css" rel="stylesheet">
</head>

<body>
	{{ partial "navbar" . }}

	<div id="header" class="text-center">
		<div id="headerContent" class="container">
			<h1 id="title" class="display-4 font-weight-normal">{{ .Title }}</h1>
			<div class="lead"> {{ .Content }} </div>
		</div>
	</div>

	<div class="container">
		<h1 id="projects" class="mb-4">Projects</h1>

		<div class="card-columns">
			{{ range .Site.Data.projects.project }}
				{{ partial "projectCard" . }}
			{{ end }}
		</div>
	</div>
</body>

</html>
