---
title: Posts
eleventyNavigation:
  key: Posts
  icon: edit-2
  order: 1
---

{% if collections.posts | filterDrafts | IsNotPage(page.url) | length %}
	{% for post in collections.posts | filterDrafts | IsNotPage(page.url) | reverse %}
		<section>
			<h2><a href={{ post.url }}>{{ post.data.title }}</a></h2>
			<div>
				<svg class="icon">
					<use href="/images/feather-sprite.svg#clock" />
				</svg>
				{{ post.date.toLocaleDateString("en-US") }}
			</div>
			<p>{{ post.data.description }}</p>
		</section>
	{% endfor %}
{% else %}
	<p>No posts</p>
{% endif %}
