---
title: Neil Brommer
eleventyNavigation:
  key: Neil Brommer
  icon: home
  order: 0
tags: [ "MainPage" ]
---

{% for section in collections.MainPage | IsNotPage(page.url) | IsMainPageSection | sort(false, false, "data.sectionOrder") %}
	{% if not loop.first %}
		<h2 id="{{ section.data.title | slugify }}">{{ section.data.title }}</h2>
	{% endif %}

	<section>
		{{ section.templateContent | safe }}
	</section>
{% endfor %}
