---
layout: layouts/layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
  filter: [ all, post, posts, MainPage ]
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
permalink: /posts/tags/{{ tag | slugify }}
---

{% set postsList = collections[tag] %}
{% include "posts-list.njk" %}
